<footer class="footer bg-dark py-3 mt-auto" style="
background-color: rgba(239, 208, 202) !important">
  <div class="container">
    <span class="text-white">&copy; Likey 2023</span>
  </div>
</footer>